* {
    margin: 0%;
    
}

@import '~sal.js/sal.css';

body {
    background-color: rgb(251, 250, 231);
    color: #78776C;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
}
h1,h2,h3,h4,h5 {
    color: #000;
    font-family: 'Rowdies', cursive;
    font-weight: 1000;
}
a {
    transition: 0.3s all !Important;
    text-decoration: none !important;
    color: #222;
    font-weight: 700;
}



.container {
    max-width: 1400px;
    margin: 150px auto;
}


#NavBar {
    margin-bottom: 0px !important;
    margin-top: 0px !important;

    display: flex;
    align-items: center;
    padding: 30px 0 50px 0;
    justify-content: space-between;
}
.navsec {
    display: flex;
    gap: 30px;
}
.navsec a {
    text-decoration: none;
    font-size: larger;
    color: black;
    font-weight: 800;
    display: block;
}

#Video {
    margin-top: 50px;
}
.Video {
    width: 100%;
    height: 555px;
    background: rgba(0,0,0,0.125);
    border-radius: 20px;
}
.Video iframe {
    height: 555px;
    border-radius: 20px;
}




#Info {
    display: flex;
}
#Info h2 {
    font-size: 64px;
}

#info h4 {
    font-size: 32px;
}


#Games{
   
    text-align: center;
}
#Games h2{
     font-size: 45px;
}

.GamesDesc , .TouchDesc {
    width: 50%;
    margin: 0px auto;
}
div#tabs ul {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(4,1fr);
    justify-content: space-between;
    gap: 35px;
    margin-top: 50px;
    list-style: none;
    text-align: center;
    margin-bottom: 30px;
    position: sticky;
    top: 30px;
    background: #fbfae7;
    z-index: 999;
    padding: 30px;
    border-radius: 30px;
}
#tabs ul a img {
    height: 40px;
}
#tabs ul li {
    border: 5px solid #333;
    border-radius: 6px;
}
#tabs ul a {
    padding: 20px 30px;
    display: block;
}
.GameIMG img {
    max-width: 600px;
}



.TabsBlock {
    position: relative;
    margin: 0px 0px 150px;
    padding: 200px 0px;
}
.TabsBlock:before, .TabsBlock:after {
    content: "";
    background: url(./assets/TabTransition.png);
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 300px;
    z-index: 1;
}
.TabsBlock::before {
    top: 0;
}
.TabsBlock::after {
    bottom: 0;
    transform: rotate(180deg);
}
.Tab {
    margin: -100px 0px;
    padding: 100px 0px;
    background-size: cover !important;
}


#tabs-1 {
    background: url(./assets/BlockTextureMC.png);
}
#tabs-2 {
    background: url(./assets/BlockTextureRoblox.png);
}
#tabs-3 {
    background: url(./assets/BlockTextureFortnite.png);
}
#tabs-4 {
    background: url(./assets/BlockTextureMobiles.png);
}




.Tab .container .GameInfo {
    display: flex;
    align-items: center;
    gap: 30px;
}
.Tab .container div:nth-child(even) {
    flex-direction: row-reverse;
}
.Tab .container {
    display: grid;
    gap: 50px;
}





#getintouch { 
    text-align: center;
}
#getintouch h2{
     font-size: 45px;
}






#widget {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px !important;
    margin-top: 0px !important;
    gap: 30px;
}
.discordwidget {
    width: 100%;
}
widgetbot {
    width: 100%;
    height: 600px;
}


.ContactCards {
    gap: 30px;
    display: grid;
    text-align: center;
}
.ContactCards a {
    width: 100%;
    display: block;
    font-size: 32px;
    color: #ffff;
    font-family: 'Rowdies', cursive;
    text-shadow: 0px 1px 2px rgba(0,0,0,0.3);
    padding: 30px 50px;
    border-radius: 15px;
    transition: 0.3s all !important;
}

.ContactCards a:hover {
    transform: translateY(-5px);
}


a.YoutubeContact {
    background: #E71818;
}
.TwitterContact {
    background: #2FC0EE;
}
.DiscordContact {
    background: #2864DA;
}
a.MailContact {
    background: #f5b023;
}











footer {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    margin-bottom: 30px;
}
.FooterInfo {
    width: 45%;
}
.FooterLinks {
    display: flex;
    flex-wrap: wrap;
    gap: 80px;
    width: fit-content;
}
.FooterBlock ul {
    display: grid;
    gap: 20px;
    margin-top: 20px;
    padding-left: 15px;
}
.FooterBlock a {
    font-weight: 700;
    color: #333;
}


.GameText h3 {
    font-size: 40px;
}

.GameText p {
    width: 70%;
}


a.GameBTN {
    text-decoration: none;
    color: white;
    font-size: 20px;
    background: url(assets/BlockTexture.png) ;
    font-weight: 800;
    font-family: 'Rowdies', cursive;
    margin-top: 15px;
    padding: 15px 25px;
    border-radius: 7px;
    display: block;
    width: fit-content;
}




















@media (max-width: 786px) {


    .container , .Tab .container .GameInfo , .Tab .container div:nth-child(even) {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    div#tabs ul {
        grid-template-columns: repeat(1,1fr) !important;
    }
    .GameIMG img , img.midrightimg , .ContactCards , .FooterInfo {
        width: 100%;
    }
    div#tabs ul {
        position: relative;
        margin-top: 0px !important;
    }
    .navsec {
        margin-top: 30px;
    }
    .ContactCards a {
        width: unset;
    }
    #Games {
        margin-bottom: 0px !important;
    }
}